/* styles.css */

/* Global Styles */
body {
    background-color: #222;
    color: #fff;
}

.card-header {
    align-content: center;
    text-align: center;
}

.navbar-brand {
    font-weight: bolder;
    font-size: 26px;
}

#feedback-text {
    display: inline;
    font-size: large;
    vertical-align: sub;
    padding: 0;
}

.container {
    margin: 10px !important;
    align-content: center !important;
    max-width: 100% !important;
}

.navbar {
    background-color: #333 !important; /* Navbar background */
}

.home {
    margin-right: 7px;
}

.dropdown-item {
    background-color: #444;
    color: #fff;
}

.dropdown-item:hover {
    background-color: #007bff;
    color: #fff;
}

.dropdown-menu {
    background-color: #444;
}

.flash-button-close {
    color: #fff;
}

.navbar-dark .navbar-nav .nav-link {
    color: #fff; /* Navbar link color */
}

.container {
    max-width: 800px; /* Adjust container width as needed */
}

/* Card Styles */
.card {
    background-color: #333;
    color: #fff;
    border: none;
}

.card-header {
    background-color: #444;
    border-bottom: 1px solid #666;
    color: #fff;
}

.card-body {
    background-color: #333;
}

/* Button Styles */
.btn {
    background-color: #007bff;
    border-color: #007bff;
    color: #fff;
}

.btn:hover {
    background-color: #0056b3;
    border-color: #0056b3;
    color: #fff;
}

.btn-primary {
    background-color: #007bff;
    border-color: #007bff;
}

.btn-primary:hover {
    background-color: #0056b3;
    border-color: #0056b3;
}

/* Form Styles */
.form-control {
    background-color: #444;
    color: #fff;
    border-color: #444;
}

.form-control:focus {
    background-color: #555;
    color: #fff;
    border-color: #007bff;
    box-shadow: 0 0 0 0.2rem rgba(38, 143, 255, 0.5);
}

/* Dark Theme Toggle Example */
.dark-mode-toggle {
    position: fixed;
    top: 20px;
    right: 20px;
    z-index: 1000;
    cursor: pointer;
    color: #fff;
}

