h5, .card-header {
    font-weight: bold;
}

.card-header {
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 6px;
    padding-bottom: 6px;
    font-size: 24px;
}

.card, .card-body {
    width: fit-content;
    height: fit-content;
}

.card {
    display: inline-block;
    margin: 10px;
    vertical-align: center;
}