.caution {
    background-color:#f00;
    border-color: #f00;
    color: rgb(255, 231, 208);
    font-weight: bold;
}

.settings-container {
    margin: 20px;
    align-content: center;
}

.card-header {
    font-weight:bolder;
    font-size: 56px;
}
h1 {
    font-size: 24px;
    font-weight: 800;
}