 /* The Modal (background) */
 .modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.7); /* Black w/ opacity */
  }
  
  /* Modal Content/Box */
  .modal-content {
    background-color: #333333;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 10px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
  }
  
  /* The Close Button */
  .close {
    color: #ffffff;
    text-shadow: none;
    float: right;
    font-size: 28px;
    font-weight: bold;
    width: fit-content;
  }
  
  .close:hover,
  .close:focus {
    color: rgb(255, 0, 0);
    text-decoration: none;
    cursor: pointer;
  } 

.card-header {
    font-size: 40px;
    font-weight: bold;
}

.sessions-container {
    align-content: center;
}

.isSetText {
    vertical-align:top;
    padding-left: 5px;
}

.button-container {
    margin-top: 20px;
}
p {
    margin: 0%;
}