{% extends "base.html" %} {% block title %}Add Session - AquaMetrics{% endblock %}
{% block content %}
<link
  rel="stylesheet"
  href="{{ url_for('static', filename='css/add_session.css')}}"
/>
<h1 class="mt-4 mb-4">Swimming Training Session Form</h1>
<form id="swimming-session-form">
  <div class="form-group">
    <label for="session-name">Session Name:</label>
    <input
      type="text"
      class="form-control"
      id="session-name"
      name="sessionName"
    />
  </div>
  <input type="hidden" name="userID" value="{{userID}}">
  <div id="sections-container">
    <!-- Sections will be added here dynamically -->
  </div>
  <button type="button" class="btn btn-primary mb-3" onclick="addSection()">
    Add Section
  </button>
  <button type="button" class="btn btn-success" onclick="submitForm()">
    Submit
  </button>
</form>

<script src="{{ url_for('static', filename='js/add_session.js') }}"></script>

{% endblock %}
