{% extends "base.html" %} {% block title %}Edit Session - AquaMetrics{% endblock
%} {% block content %}
<link
  rel="stylesheet"
  href="{{ url_for('static', filename='css/edit_session.css')}}"
/>
<form id="swimming-session-form">
  <div class="form-group">
    <label for="session-name">Session Name:</label>
    <input
      type="text"
      class="form-control"
      id="session-name"
      name="sessionName"
    />
  </div>
  <input type="hidden" name="sessionID" value="{{sessionID}}" />
  <div id="sections-container"></div>
  <button type="button" class="btn btn-primary mb-3" onclick="addSection()">
    Add Section
  </button>
  <button type="button" class="btn btn-success" onclick="submitForm()">
    Submit
  </button>
</form>

<script src="{{ url_for('static', filename='js/edit_session.js') }}"></script>
<script>
  loadTrainingSession({{ session|tojson|safe }});
</script>
{% endblock %}
