{% extends "base.html" %} {% block title %}{% if user.is_admin %}AquaMetrics{% else %}Feedback - AquaMetrics{% endif %}{% endblock %}
{% block content %}
<h1>Feedback</h1>
<form id="feedback-form">
    <div class="form-group">
        <label for="feedback">Feedback:</label>
        <textarea class="form-control" id="feedback" name="feedback"></textarea>
    </div>
    <button type="button" class="btn btn-primary" onClick="sendFeedback(document.getElementById('feedback').value)">Submit</button>
</form>
<script src="{{ url_for('static', filename='js/feedback.js') }}"></script>
{% endblock %}