{% extends "base.html" %} {% block title %}{% if user.is_admin %}AquaMetrics{%
else %}Home - AquaMetrics{% endif %}{% endblock %} {% block content %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/home.css')}}" />

<!-- Button Card -->
<div class="card mb-4">
  <div class="card-header">Your Sessions</div>
  <div class="card-body">
    <a class="btn btn-primary" href="/add-session">Add Training Session</a>
    <a class="btn btn-primary" href="/submit-session">Submit Training Session</a>
  </div>
</div>

<div class="card mb-4">
  <div class="card-header">Your Statistcs</div>
  <div class="card-body">
    <!-- Summary statistics -->
    <div class="mb-4">
      <h5>Summary</h5>
      <ul>
        <li>Total Kilometers Swum: <span id="totalKmSwum">0</span> km</li>
        <li>Total Kilometers of Sets: <span id="totalKmSets">0</span> km</li>
      </ul>
    </div>
    <!-- Graph container -->
    <canvas id="swimStatsChart" width="400" height="200"></canvas>
    <!-- Chart.js library -->
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="{{ url_for('static', filename='js/homejs.js') }}"></script>
  </div>
</div>
{% endblock %}
